<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>cptracker</title>
  <script src="https://kit.fontawesome.com/0dadbc0850.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/contest.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

  <div class="navbar">

    <div class="leftnav">
      <div class="titleimg">
      <img src="/images/cp.jpg" alt="noimg">
      </div>
      <div class="website_name">
        <h2>Competative Tracker</h2>
        <!-- <h2>Tracker</h2> -->
      </div>

    </div>


    <div class="mid_nav">
      <h3>Never Give Up</h3>
      <h5>Grind Hard</h5>
    </div>


    <div class="rightnav">

     <div class="username">
      <p><%=cuser.name%></p>
     </div>

      <div class="nav_user">
        <a href="/"><img src="/images/home.webp" alt=""></a>
      </div>
    </div>

  </div>

  <main>

    <aside class="leftsection">

      <div class="carousel">
        <div class="cars1">
          <img src="/images/CodeForces.png" alt="">
        </div>

        <div class="cars1">
          <img src="/images/HackerRank.png" alt="">
        </div>

        <div class="cars1">
          <img src="/images/CodeChef.png" alt="">
        </div>
        <div class="cars1">
          <img src="/images/LeetCode.png" alt="">
        </div>




      </div>

      <div class="latestcontainer">

        <div class="latestheader">
          <h1>Todays contests</h1>
        </div>



        <div class="latestrelease">
           
      
          </div>




    </aside>

    <div class="latestcontainer">

      <div class="latestheader">
        <h1>Upcoming contests</h1>
      </div>



      <div class="latestrelease">


        </div>


  

  </main>


<script src="/js/contest.js"></script>

</body>

</html>
