<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
  
    <div class="main-wrap">
        <div class="box-container">
            <div class="img-box">

            </div>
            <div class="form-wrap">
                <div class="mid-container">
                    <h1>Create New Account</h1>
                    <form action="/user/create_user" class="form" method="post">
                        <label for="name">Username</label></br>
                        <input type="text" name="name" id="sname" placeholder="Your name" required> 
                        </br></br>
                        <label for="email">Email</label></br>
                        <input type="email" name="email" id="smail" placeholder="Your email" required> 
                         </br></br>
                        <label for="Password">Password</label></br>
                        <input type="password" name="password" id="spwd" placeholder="Your password" required> 
                         </br></br>
                         <label for="Password">Confirm Password</label></br>
                         <input type="password" name="confirmpassword" id="" placeholder="Confirm password" required>
                        </br>
                        <button type="submit" class="login-btn">Sign Up</button>
                    </form>
                </div>
                <div class="top-signup">
                    <span>Already! have an account?</span>
                    <a href="/user/signin" class="signup-btn">SIGN IN</a>
                </div>
            </div>
        </div>
    </div>




















<!-- 
<div class="container">
    <h1>Please login to continue</h1>
<form action="/user/create_user" method="post">
   <div class="fields">
    <div class="chip">
        <p>Name</p>
        <input type="text" name="name" id="sname" required>
    </div>

   <div class="chip">
    <p>email</p>
    <input type="email" name="email" id="semail" required>
    
   </div>
   <div class="chip">
    <p>password</p>
   <input type="password" name="password" id="spwd" required>
   
  </div>

   <div class="chip">
    <p>confirm password</p>
    <input type="password" name="confirmpassword" " required>    
   </div>

   </div>
<div class="btn">
    <button type="submit">sign up</button>
</div>
</form> -->


</body>
</html>